/* color palette from <https://github.com/vuejs/theme> */

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-footer-background-light: rgba(235, 235, 235, 0.64);
  --vt-c-footer-background-dark: rgba(60, 60, 60, 0.12);

  --vt-c-text-hover-color-light: hsl(158, 100%, 26%);
  --vt-c-text-hover-color-dark: #00ad6e;
  --vt-c-text-hover-backcolor-light: hsla(158, 47%, 64%, 0.192);
  --vt-c-text-hover-backcolor-dark: hsla(0, 0%, 24%, 0.496);

  --vt-c-nav-backgroud-light: hsla(0, 0%, 94%, 0.817);
  --vt-c-nav-backgroud-dark: hsla(0, 0%, 24%, 0.489);

  --vt-c-Tag-Choose-default-color-light: #606266;
  --vt-c-Tag-Choose-default-color-dark: #606266;
  --vt-c-Tag-Choose-active-color-light: #409eff;
  --vt-c-Tag-Choose-active-color-dark: #409eff;
  --vt-c-Tag-Choose-after-color-light: rgba(64, 158, 255, 0.15);
  --vt-c-Tag-Choose-after-color-dark: rgba(64, 158, 255, 0.15);
  --vt-c-Tag-Choose-hover-color-light: #409eff;  
  --vt-c-Tag-Choose-hover-color-dark: #409eff;
  --vt-c-Tag-Choose-glow-color-light: #409eff66;
  --vt-c-Tag-Choose-glow-color-dark: #409eff66;


  --vt-c-timeline-axis-color-light: #e1e1e1;
  --vt-c-timeline-axis-color-dark: #6BD0A880;
  --vt-c-year-bubble-light: #e0e0e0;
  --vt-c-year-bubble-dark: #6BD0A880;
  --vt-c-default-dot-light: #d7d8db;
  --vt-c-default-dot-dark: #6BD0A880;
  --vt-c-slim-text-light: #2e2e2e;
  --vt-c-slim-text-dark: #666;
  --vt-c-img-wave-light: #2c3e505d;
  --vt-c-img-wave-dark: #c4c2c25d;

  --vt-c-card-background-light: #8f8e8e49;
  --vt-c-card-background-dark: #51515170;
  --vt-c-card-text-color-light: #2e2e2e;
  --vt-c-card-text-color-dark: #cdcdcd;
  --vt-c-card-highlight-color-dark: #ffeb3b6d;
  --vt-c-card-highlight-color-light: #6BD0A880;
  --vt-c-card-divider-color-light: #626262;
  --vt-c-card-divider-color-dark: #62a08b80;

  --vt-c-email-btn-background-light: #409eff66;
  --vt-c-email-btn-background-dark: #6BD0A880;

  --vt-c:#24292f;
}

/* 定义项目特定的语义颜色变量 */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --color-footer-background: var(--vt-c-footer-background-light);

  --color-text-hover: var(--vt-c-text-hover-color-light);
  --backcolor-text-hover: var(--vt-c-text-hover-backcolor-light);

  --color-nav-background: var(--vt-c-nav-backgroud-light);


  --color-tag-choose-default: var(--vt-c-Tag-Choose-default-color-light);
  --color-tag-choose-active: var(--vt-c-Tag-Choose-active-color-light);
  --color-tag-choose-after: var(--vt-c-Tag-Choose-after-color-light);
  --color-tag-choose-hover: var(--vt-c-Tag-Choose-hover-color-light);
  --color-tag-choose-glow: var(--vt-c-Tag-Choose-glow-color-light);

  --color-timeline-axis: var(--vt-c-timeline-axis-color-light);
  --color-year-bubble: var(--vt-c-year-bubble-light);
  --color-default-dot: var(--vt-c-default-dot-light);
  --color-slim-text: var(--vt-c-slim-text-light);
  --color-img-wave: var(--vt-c-img-wave-light);

  --color-card-background: var(--vt-c-card-background-light);
  --color-card-text-color: var(--vt-c-card-text-color-light);
  --color-card-highlight-color: var(--vt-c-card-highlight-color-light);
  --color-card-divider-color:var(--vt-c-card-divider-color-light);

  --color-email-btn-background: var(--vt-c-email-btn-background-light);

  --section-gap: 160px;

  --nav-height: 4rem;
}

/* 在用户偏好深色模式时，更新语义颜色变量 */
:root[user-theme="dark"] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);

  --color-footer-background: var(--vt-c-footer-background-dark);

  --color-text-hover: var(--vt-c-text-hover-color-dark);
  --backcolor-text-hover: var(--vt-c-text-hover-backcolor-dark);

  --color-nav-background: var(--vt-c-nav-backgroud-dark);

  --color-tag-choose-default: var(--vt-c-Tag-Choose-default-color-dark);
  --color-tag-choose-active: var(--vt-c-Tag-Choose-active-color-dark);
  --color-tag-choose-after: var(--vt-c-Tag-Choose-after-color-dark);
  --color-tag-choose-hover: var(--vt-c-Tag-Choose-hover-color-dark);
  --color-tag-choose-glow: var(--vt-c-Tag-Choose-glow-color-dark);

  --color-timeline-axis: var(--vt-c-timeline-axis-color-dark);
  --color-year-bubble: var(--vt-c-year-bubble-dark);
  --color-default-dot: var(--vt-c-default-dot-dark);
  --color-slim-text: var(--vt-c-slim-text-dark);
  --color-img-wave: var(--vt-c-img-wave-dark);

  --color-card-background: var(--vt-c-card-background-dark);
  --color-card-text-color: var(--vt-c-card-text-color-dark);
  --color-card-highlight-color: var(--vt-c-card-highlight-color-dark);
  --color-card-divider-color:var(var(--vt-c-card-divider-color-dark));

  --color-email-btn-background: var(--vt-c-email-btn-background-dark);
}

:root {
  transition: 
    background-color 0.5s ease,
    color 0.3s ease;
}
/* 重置默认样式，确保一致的盒模型和字体权重 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* 设置body的基本样式，包括最小高度、颜色、背景和过渡效果 */
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.github-icon svg path {
  fill: var(--color-text); /* 使用主题文本颜色 */
  transition: fill 0.3s ease; /* 保持与主题切换动画一致 */
}